<!DOCTYPE html>
<html>
<head>
  	<title><% full_title(yield(:title)) %></title>
	<!-- Runs the full_title method (defined in app/helpers/application_helper.rb). The method's argument is accessed by performing the yield operation on a :title symbol which, when present, will be defined inside the html.erb code for the page in question (e.g. app/views/static_pages/about.html.erb in the case of the "About Us" page). For pages with a :title symbol defined, this method will result in a title of "Ruby on Rails Tutorial Sample App | [Title]"; when no :title element is present, the method will return a title containing, simply, "Ruby on Rails Tutorial Sample App" -->

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<!-- This is also a method call. The first argument is a string, "application," which indicates the path to the stylesheet. The second is a hash containing two key/value pairs: media: "all", and "data-turbolinks-track": true. (The => (called a hashrocket, incidentally) is used for the second argument because the use of dashes makes it impossible to use the colon notation.) -->

	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<!-- Similar to above. -->

  	<%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
